version: "3.5"
services:
  beacon-chain:
    build:
      context: ./beacon-chain
      args:
        BEACON_API_PORT: 3500
        UPSTREAM_VERSION: 22.5.0
    environment:
      LOG_TYPE: INFO
      BEACON_API_PORT: 3500
      HTTP_WEB3PROVIDER: "https://rpc.ankr.com/gnosis"
      CHECKPOINT_SYNC_URL: "https://rpc-gbc.gnosischain.com/"
      EXTRA_OPTS: ""
    volumes:
      - "teku-gnosis-data:/opt/teku/data"
    ports:
      - 9000/tcp
      - 9000/udp
    restart: unless-stopped
    image: "beacon-chain.teku-gnosis.dnp.dappnode.eth:0.1.0"
  validator:
    build:
      context: ./validator
      args:
        UPSTREAM_VERSION: 22.5.0
    environment:
      LOG_TYPE: INFO
      BEACON_NODE_ADDR: "http://beacon-chain.teku-gnosis.dappnode:3500"
      GRAFFITI: validating_from_DAppNode
      EXTRA_OPTS: ""
    restart: unless-stopped
    image: "validator.teku-gnosis.dnp.dappnode.eth:0.1.0"
volumes:
  teku-gnosis-data: {}
