version: "3.5"
services:
  beacon-chain:
    build:
      context: ./beacon-chain
      args:
        BEACON_API_PORT: 3500
        UPSTREAM_VERSION: 25.5.0
    environment:
      LOG_TYPE: INFO
      BEACON_API_PORT: 3500
      HTTP_ENGINE: ""
      P2P_PORT: 19005
      FEE_RECIPIENT_ADDRESS: ""
      CHECKPOINT_SYNC_URL: ""
      EXTRA_OPTS: ""
      JAVA_OPTS: "-Xmx6g"
    volumes:
      - teku-gnosis-data:/opt/teku/data
    ports:
      - 19005:19005/tcp
      - 19005:19005/udp
    restart: unless-stopped
    image: beacon-chain.teku-gnosis.dnp.dappnode.eth:0.1.11
    security_opt:
      - seccomp:unconfined
  validator:
    build:
      context: ./validator
      args:
        UPSTREAM_VERSION: 25.5.0
    environment:
      LOG_TYPE: INFO
      BEACON_NODE_ADDR: http://beacon-chain.teku-gnosis.dappnode:3500
      GRAFFITI: validating_from_DAppNode
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
      EXIT_VALIDATOR: ""
      KEYSTORES_VOLUNTARY_EXIT: ""
      JAVA_OPTS: "-Xmx6g"
    restart: unless-stopped
    image: validator.teku-gnosis.dnp.dappnode.eth:0.1.11
    security_opt:
      - seccomp:unconfined
volumes:
  teku-gnosis-data: {}
